/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.idea
/nbproject/private/
public/admin/style/img/
public/upload/thumb/20160416/
public/upload/thumb/20160420/
public/upload/thumb/20160424/
public/upload/ueditor/image/20160415/
public/upload/ueditor/image/20160420/
